<!DOCTYPE html ng-app="app">
<html lang="en" ng-app="app" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>angular-flabel demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../dist/angular-flabel.css">
    <link rel="stylesheet" href="./bootstrap.min.css">
    <link rel="stylesheet" href="./app.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.0/angular.min.js"></script> -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../src/angular-flabel.js"></script>
    <script src="./app.js"></script>
  </head>
  <body>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1>angular-flabel demo</h1>
        <code>(v0.0.2)</code>
      </div>
      <div class="panel-body">
        <form class="form-vertical" novalidate>

          <div class="form-group">
            <input id="emailInput" type="email" class="form-control" placeholder="Email address (e.g. peter.smith@example.com)" name="emailInput" required
            ng-model="emailInput"
            flabel="Your Email" />
          </div>

          <div class="form-group huge-label-font-size">
            <input id="inputHugeLabel" type="text" class="form-control" placeholder="Placeholder..." name="inputHugeLabel" required
            ng-model="inputHugeLabel"
            flabel="Label with huge font size" />
          </div>

          <div class="form-group">
            <input id="inputLongLabel" type="text" class="form-control" placeholder="A very long label text" name="inputLongLabel" required
            ng-model="inputLongLabel"
            flabel="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore Duis aute irure dolor in reprehenderit in voluptate velit" />
          </div>

          <div class="form-group">
            <select id="selectFruit" class="form-control" name="selectFruit" required
            ng-model="selectFruit"
            flabel="Your flavor">
              <option value="" disabled>Select your favorite flavor</option>
              <option value="1">Banana</option>
              <option value="2">Chocolate</option>
              <option value="3">Cherry</option>
            </select>
          </div>

          <div class="form-group">
            <textarea class="form-control" placeholder="Enter your message here..." id="textarea"
            ng-model="textareaMessage"
            flabel="Your Message"></textarea>
          </div>

          <div class="form-group huge-label-font-size">
            <input type="text" class="form-control" name="noLabel" required
            ng-model="noLabel"
            flabel />
          </div>

        </form>
      </div>
    </div>
  </body>

</html>
